# ==== FastAPI / App ====
APP_NAME=ArticleHub
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000

# ==== MongoDB ====
MONGO_URI=mongodb://mongo:27017
MONGO_DB=articlehub

# ==== Security ====
JWT_SECRET=change_me_super_secret
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# ==== Celery / Redis ====
REDIS_BROKER_URL=redis://redis:6379/0
REDIS_RESULT_BACKEND=redis://redis:6379/1

# ==== (Optional) Email via SMTP (поки не використ.) ====
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sonik2001www@gmail.com
SMTP_PASSWORD=djduixlsaxdxuhnk