fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-jose==3.3.0
motor==3.6.0
email-validator==2.2.0

celery==5.4.0
redis==5.0.8

loguru==0.7.2